<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER MANAGEMENT</title>
</head>
<body>
    <h2>USER MANAGEMENT</h2>
    <form action="/", method="post">

        <label for="name" >Enter Name :  </label>
        <input type="text" id="name" name="name" placeholder="name" required>

        <label for="dec" >Enter Designation :  </label>
        <input type="text" id="dec" name="dec" placeholder="Enter Designation" required>
        <br><br>

        <div class="button-group">
            <input type="submit" name="action" value="add">
            <input type="submit" name="action" value="delete">
            <input type="submit" name="action" value="list">
        </div>


    </form>

    <div class="message">
        <h2>Message : </h2>
        {{message|safe}}
    </div>
    
</body>
</html>